<swiper-container init="false" >

  <swiper-slide>
    <img src="../../../../assets/img/lunes.jpg" />
    <div class="slide-content">
      <!-- <h2>Lunes de Casa Antorcha</h2>
      <p>Busca la mas cercana</p> -->
    </div>
  </swiper-slide>

  <swiper-slide>
    <img src="../../../../assets/img/matutino.jpg" />
    <div class="slide-content">
      <!-- <h2>Martes y Viernes Matutino</h2>
      <p>5:30 am</p> -->
    </div>
  </swiper-slide>
  
  <swiper-slide>
    <img src="../../../../assets/img/miercoles2.jpg" />
    <div class="slide-content">
      <!-- <h2>Miercoles de Milagros</h2>
      <p>20:00 pm</p> -->
    </div>
  </swiper-slide>

  <swiper-slide>
    <img src="../../../../assets/img/sabado.jpg" />
    <div class="slide-content">
      <!-- <h2>Domingo Sobrenatural</h2>
      <p>11:00 am</p> -->
    </div>
  </swiper-slide>
  
  <swiper-slide>
    <img src="../../../../assets/img/domingo.jpg" />
    <div class="slide-content">
      <!-- <h2>Domingo Sobrenatural</h2>
      <p>11:00 am</p> -->
    </div>
  </swiper-slide>  

</swiper-container>
