<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-custom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="menu-inicio col-green-500">
        <img src="../../../assets/img/ubicanos.png" class="img-responsive" alt="eventos" />
        <h1>Ubicanos</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="menu-inicio col-green-400">
        <img src="../../../assets/img/calendario2.png" class="img-responsive" alt="eventos" />
        <h1>Eventos</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid color="primary">
    <ion-row>
      <ion-col class="menu-inicio col-yellow-500">
        <img src="../../../assets/img/biblia.png" class="img-responsive" alt="eventos" />
        <h1>Biblia</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid color="primary">
    <ion-row>
      <ion-col class="menu-inicio col-morado-400">
        <img src="../../../assets/img/fundamentos.png" class="img-responsive" alt="eventos" />
        <h1>Fundamentos</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid color="primary">
    <ion-row>
      <ion-col class="menu-inicio col-green-500">
        <img src="../../../assets/img/GA.png" class="img-responsive" alt="eventos" />
        <h1>Generación que Aviva</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
