
<ion-content >
  <app-logo></app-logo>
  <h2 class="ion-text-center"><b>¿Has olvidado la contraseña?</b></h2>
  <p class="ion-text-center">Ingresa tu correo electrónico para restablecer la contraseña</p>

  <app-custom-input 
  autocomplete="email"
  icon="mail-outline"
  [control]="form.controls.email"
  type="email"
  label="Correo"
></app-custom-input>

      <ion-button expand="block" color="danger" mode="ios" class="submit" >
        Enviar
        <ion-icon slot="end" name="paper-plane-outline"></ion-icon>
      </ion-button>
      <ion-button expand="block" color="danger" routerLink="/auth" mode="ios" fill="outline" class="submit">
        Cancelar 
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
</ion-content>
